<h1>This is the stupid Welcome Page</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<div ng-controller="RaffleController">

  <form ng-submit="addPitch()">
    <input type="text" ng-model="newCompany">
    <input type="text" ng-model="newIdea">
    <input type="submit" value="Add">
  </form>

  <ul>
    <li ng-repeat="pitch in pitches">
      {{pitch.company}} {{pitch.idea}}
    </li>
  </ul>
</div>